{% if match_info -%}
<match_info>
{{ match_info | tojson(indent=2) }}
</match_info>

{% endif -%}
{% if live_board -%}
<live_board>
{{ live_board | tojson(indent=2) }}
</live_board>

{% endif -%}
{% if odds -%}
<odds>
{{ odds }}
</odds>

{% endif -%}
{% if history -%}
<history>
{% for turn in history -%}
{{ turn.role }}: {{ turn.content }}
{% endfor %}
</history>

{% endif -%}
{% if recent_cheers -%}
<recent_cheers>
{% for c in recent_cheers -%}
- {% if c.team_name %}[{{ c.team_name }}] {% endif %}{{ c.content }}
{% endfor %}
</recent_cheers>

{% endif -%}
<question>
{{ question }}
</question>
